* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #222831;
  color: #fff;
  font-size: 0.875rem;
  scroll-behavior: smooth;
}

.container-ltt {
  padding-left: 150px !important;
  padding-right: 150px !important;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #11999e, rgb(48, 227, 202));
  border-radius: 50px;
}

.lightMode::-webkit-scrollbar {
  width: 10px;
}

.lightMode::-webkit-scrollbar-track {
  background-color: rgba(118, 129, 125, 0.3);
  border-radius: 50px;
}

.lightMode::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, rgb(48, 227, 202), #24aa97);
  border-radius: 50px;
}

.modal .modal-content {
  background-color: #11999e;
}

.lightMode .modal .modal-content {
  background-color: #24aa97;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 10px 0;
  background-color: #222831;
}
header .ltt__navbar .navbar-brand {
  height: 100%;
  margin-right: 0;
}
header .ltt__navbar .navbar-brand img {
  height: 57px;
  transition: all 0.5s;
}
header .ltt__navbar .navbar-brand img:hover {
  transform: scale(1.1);
}
header .ltt__navbar .logo-light img {
  display: none;
}
header .ltt__navbar .logo-dark img {
  display: inline-block;
}
header .ltt__navbar #navbarLTT {
  justify-content: center;
}
header .ltt__navbar #navbarLTT .navbar-nav {
  padding: 9px;
  background-color: rgba(228, 249, 245, 0.3);
  border-radius: 50px;
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item {
  margin-right: 15px;
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 7px 15px;
  transition: all 0.7s;
  position: relative;
  z-index: 10;
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: #393e46;
  border-radius: 41px;
  transition: all 0.5s;
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link:hover {
  color: rgb(48, 227, 202);
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link:hover::after {
  height: 100%;
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link.active {
  background-color: #393e46;
  border-radius: 41px;
  color: rgb(48, 227, 202);
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link.active:hover::after {
  content: unset;
}
header .ltt__navbar .darkLightMode .btn-mode {
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 20px;
  padding: 7px 0;
  width: 75px;
}
header .ltt__navbar .darkLightMode .btn-mode i {
  font-size: 1rem;
  color: #222831;
  transition: all 0.45s;
}
header .ltt__navbar .darkLightMode .btn-mode:hover::before {
  transform: skewX(30deg) translateX(-2.5px);
}
header .ltt__navbar .darkLightMode .btn-light {
  display: inline-block;
}
header .ltt__navbar .darkLightMode .btn-light i {
  color: #fff;
}
header .ltt__navbar .darkLightMode .btn-dark {
  display: none;
}
header .ltt__navbar .darkLightMode .btn-dark span {
  color: #222831;
}

footer {
  padding-top: 55px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  background-color: rgba(228, 249, 245, 0.1);
}
footer .footer__container .footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__container .footer__logo .logo-light {
  display: none;
}
footer .footer__container .footer__logo .logo-dark {
  display: inline-block;
}
footer .footer__container .footer__logo img {
  height: 57px;
  transition: all 0.35s;
}
footer .footer__container .footer__logo img:hover {
  transform: scale(1.1);
}
footer .footer__container .footer__ltt {
  margin: 20px 0;
}
footer .footer__container .footer__ltt a {
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
  background: linear-gradient(to right, rgb(48, 227, 202) 0%, #11999e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .footer__container .footer__social .show__social {
  justify-content: center;
  gap: 0 15px;
}
footer .footer__container .footer__social .show__social .show__social__item {
  margin: 0;
}
footer .footer__container .footer__social .show__social .show__social__item i {
  color: #fff;
  font-size: 1.125rem;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: linear-gradient(to right, rgb(48, 227, 202) 0%, #11999e 100%);
  transition: all 0.35s;
}

.cover {
  padding-top: 85px;
  height: 700px;
  background-image: url(../images/cover.png);
  background-repeat: no-repeat;
  background-position: -190px 79px;
  background-size: 1000px;
}
.cover .cover__content {
  height: 100%;
}
.cover .cover__content .row {
  height: 100%;
}
.cover .cover__content .cover__intro {
  letter-spacing: 1.5px;
}
.cover .cover__content .cover__intro .cover__career {
  animation-delay: 1.5s;
  color: rgb(48, 227, 202);
  font-size: 1.25rem;
  font-weight: 500;
}
.cover .cover__content .cover__intro .cover__name {
  animation-delay: 0.5s;
}
.cover .cover__content .cover__intro .cover__name .cover__fullName {
  color: #fff;
  font-size: 3.125rem;
  font-weight: 700;
  animation: text-shadow-drop-center 0.7s both;
  letter-spacing: 3px;
  margin: 5px 0;
}
.cover .cover__content .cover__intro .cover__info {
  color: rgb(199, 199, 199);
  margin-bottom: 20px;
  width: 370px;
  animation-delay: 0.5s;
}
.cover .cover__content .cover__intro .cover__social {
  animation-delay: 1.5s;
}
.cover .cover__content .cover__intro .cover__btn {
  animation-delay: 1.5s;
  margin-top: 30px;
}
.cover .cover__content .cover__intro .cover__btn button {
  animation: heartbeat 1.5s ease-in-out infinite both;
}
.cover .cover__content .cover__imgLTT {
  position: relative;
}
.cover .cover__content .cover__imgLTT .cover__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover .cover__content .cover__imgLTT .cover__avatar .avatarLTTin {
  width: 57%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgb(48, 227, 202);
  background-color: #11999e;
  filter: brightness(0.95);
  transition: all 0.5s;
}
.cover .cover__content .cover__imgLTT .cover__avatar .avatarLTTin:hover {
  filter: brightness(1);
  transform: scale(1.05);
}
.cover .cover__content .cover__imgLTT .cover__proIcons .cover__proIcons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  border: 5px solid rgb(48, 227, 202);
  transition: all 0.5s;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .cover__proIcons__item:hover {
  background-color: #eeeeee;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .cover__proIcons__item img {
  width: 70%;
  object-fit: contain;
  animation: pulsate-bck 1.5s ease-in-out infinite both;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .htmlIcon {
  position: absolute;
  top: 10%;
  left: 20%;
  animation-delay: 1.5s;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .cssIcon {
  position: absolute;
  top: 20%;
  right: 15.7%;
  animation-delay: 2s;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .frameworkIcon {
  justify-content: space-around;
  width: 28.5%;
  position: absolute;
  bottom: 12%;
  left: 10%;
  animation-delay: 2.5s;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .frameworkIcon img {
  width: 43%;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .jsIcon {
  position: absolute;
  bottom: 7%;
  right: 23%;
  animation-delay: 3s;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .jsIcon img {
  width: 90%;
}

.about {
  background-image: url(../images/bg-a1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 700px;
}
.about .about__overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(34, 40, 49, 0.9) 50%, rgba(34, 40, 49, 0.7) 50%);
  padding-top: 85px;
  padding-bottom: 85px;
}
.about .about__overlay .row {
  height: 100%;
}
.about .about__overlay .about__info {
  padding-top: 50px;
  padding-right: 50px;
}
.about .about__overlay .about__info .about__text .about__intro {
  margin: 35px 0 15px;
  text-align: justify;
}
.about .about__overlay .about__info .about__contact {
  margin-bottom: 20px;
}
.about .about__overlay .about__info .about__contact .about__contact__item {
  margin-bottom: 5px;
}
.about .about__overlay .about__info .about__contact .about__contact__item i {
  font-size: 1rem;
  margin-right: 5px;
  color: rgb(48, 227, 202);
}
.about .about__overlay .about__info .about__contact .about__contact__item a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}
.about .about__overlay .about__info .about__contact .about__contact__item a:hover {
  color: rgb(48, 227, 202);
}
.about .about__overlay .about__info .about__btn {
  margin-top: 30px;
}
.about .about__overlay .about__info .about__btn button {
  animation: heartbeat 1.5s ease-in-out infinite both;
}
.about .about__overlay .about__skills {
  padding-top: 50px;
  padding-left: 50px;
}
.about .about__overlay .about__skills .about__proLang {
  margin-top: 35px;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item {
  margin-bottom: 23px;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item .about__imgProLang {
  margin-bottom: 13px;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item .about__imgProLang img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-right: 7px;
  animation: pulsate-bck 1.5s ease-in-out infinite both;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item .html-css.active .progressBar__run {
  width: 90%;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item .js-ts.active .progressBar__run {
  width: 75%;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item .bs-sass.active .progressBar__run {
  width: 85%;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item .react-angular.active .progressBar__run {
  width: 60%;
}

.education {
  padding-top: 85px;
  padding-bottom: 85px;
}
.education .education__title {
  padding-top: 50px;
}

.projects {
  padding-top: 120px;
  padding-bottom: 35px;
}
.projects .projects__carousel {
  margin-top: 50px;
}
.projects .projects__carousel .carousel-inner {
  border-radius: 15px;
}
.projects .projects__carousel .projects__content {
  height: 450px;
  padding: 30px 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4f9f5;
  border-radius: 15px;
}
.projects .projects__carousel .projects__content .projects__showImg {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.projects .projects__carousel .projects__content .projects__showImg img {
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
.projects .projects__carousel .projects__content .projects__showImg img:hover {
  transform: scale(1.05);
}
.projects .projects__carousel .projects__content .projects__detailInfo {
  width: 50%;
  padding: 0 35px;
}
.projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__name {
  margin-bottom: 20px;
  color: #222831;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.3;
}
.projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__name .projects__detailInfo__name__number {
  font-weight: 900;
  position: relative;
}
.projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__name .projects__detailInfo__name__number i {
  margin-left: 5px;
  font-size: 1.5rem;
  color: #11999e;
}
.projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__technology {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 15px;
  margin-bottom: 20px;
}
.projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__technology .projects__detailInfo__technology__item {
  padding: 5px 15px;
  background: linear-gradient(to right, rgb(48, 227, 202) 0%, #11999e 100%);
  border-radius: 20px;
  font-weight: 500;
}
.projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__description {
  margin-bottom: 30px;
  color: #222831;
  font-weight: 500;
  padding-left: 5px;
}
.projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__description .projects__detailInfo__description__time {
  margin: 5px 0;
}
.projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__description i {
  margin-right: 5px;
}
.projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__btn {
  display: flex;
}
.projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__btn .btn-projectsLTT {
  display: flex;
  align-items: center;
}
.projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__btn .btn-projectsLTT i {
  margin-left: 10px;
}
.projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__btn .btn-projectsLive {
  margin-right: 15px;
}
.projects .projects__carousel .carousel-indicators [data-bs-target] {
  background-color: #11999e;
}
.projects .projects__carousel .carousel-control-next {
  right: -5px;
}
.projects .projects__carousel .carousel-control-prev {
  left: -5px;
}
.projects .projects__carousel .carousel-control-next,
.projects .projects__carousel .carousel-control-prev {
  width: 5%;
}
.projects .projects__carousel .carousel-control-next i,
.projects .projects__carousel .carousel-control-prev i {
  font-size: 2.25rem;
  color: #11999e;
}

.contact {
  padding-top: 120px;
  padding-bottom: 100px;
}
.contact .contact__content {
  margin-top: 50px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}
.contact .contact__content .contact__info {
  width: 50%;
  background-color: rgba(17, 153, 158, 0.5);
  padding: 30px 50px;
  display: flex;
  align-items: center;
}
.contact .contact__content .contact__info .contact__info__title {
  margin-bottom: 15px;
  font-size: 1.125rem;
  font-weight: 500;
}
.contact .contact__content .contact__info .contact__info__title i {
  margin-left: 5px;
}
.contact .contact__content .contact__info .contact__info__detail {
  margin-bottom: 30px;
}
.contact .contact__content .contact__info .contact__info__detail .contact__info__mail {
  margin: 10px 0;
}
.contact .contact__content .contact__info .contact__info__detail .contact__info__item i {
  margin-right: 5px;
  color: rgb(48, 227, 202);
}
.contact .contact__content .contact__info .contact__info__detail .contact__info__item a {
  text-decoration: none;
  color: #e4f9f5;
  transition: all 0.3s;
}
.contact .contact__content .contact__info .contact__info__detail .contact__info__item a:hover {
  color: rgb(48, 227, 202);
}
.contact .contact__content .contact__avatar {
  width: 50%;
  overflow: hidden;
}
.contact .contact__content .contact__avatar img {
  opacity: 0.9;
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: 100% 61%;
  transition: all 0.35s;
}
.contact .contact__content:hover .contact__avatar img {
  opacity: 1;
  transform: scale(1.05);
}

.back-to-top .btn-toTop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 153, 158, 0.5);
  border: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.back-to-top .btn-toTop i {
  color: #fff;
  font-size: 1rem;
}
.back-to-top .btn-toTop:hover {
  background-color: #11999e;
}

.btn--green {
  color: #fff;
  background: linear-gradient(to right, rgb(48, 227, 202) 0%, #11999e 100%);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  padding: 7px 20px;
  border: none;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.btn--green::before {
  content: "";
  display: inline-block;
  width: 110%;
  height: 100%;
  background-color: #11999e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: skewX(30deg) translateX(-110%);
  transition: all 0.5s;
}
.btn--green:hover::before {
  transform: skewX(30deg) translateX(-10px);
}
.btn--green span,
.btn--green a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}
.btn--green span i,
.btn--green a i {
  margin-left: 3px;
}

.btn--greenSmall {
  color: #fff;
  background: linear-gradient(to right, rgb(48, 227, 202) 0%, #11999e 100%);
  border-radius: 20px;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 5px 15px;
  border: none;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.btn--greenSmall::before {
  content: "";
  display: inline-block;
  width: 110%;
  height: 100%;
  background-color: #11999e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: skewX(30deg) translateX(-110%);
  transition: all 0.5s;
}
.btn--greenSmall:hover::before {
  transform: skewX(30deg) translateX(-10px);
}
.btn--greenSmall span,
.btn--greenSmall a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}
.btn--greenSmall span i,
.btn--greenSmall a i {
  margin-left: 3px;
}

.progressBar {
  height: 30px;
  background-color: #11999e;
  position: relative;
}
.progressBar .progressBar__run {
  width: 1%;
  height: 100%;
  position: absolute;
  background-color: #e4f9f5;
  transition: width 0.7s ease;
}
.progressBar .progressBar__run .progressBar__counter {
  min-width: 25px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  top: -23px;
  right: -25px;
  text-align: center;
  font-size: 0.75rem;
  color: #222831;
  padding: 0 10px;
}
.progressBar .progressBar__run .progressBar__counter::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 13px;
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: 3.5px;
  border-top-color: #fff;
}
.progressBar .progressBar__text {
  position: absolute;
  color: #222831;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  padding-left: 10px;
  line-height: 30px;
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 transparent;
  }
  100% {
    text-shadow: 0 0 19px rgb(48, 227, 202);
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move-up-down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.timeline {
  margin-top: 35px;
  position: relative;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: #e4f9f5;
  top: 0;
  bottom: 15px;
  left: 50%;
  border-radius: 10px;
}
.timeline .timeline__container {
  padding: 35px 30px;
  position: relative;
  z-index: 1;
  width: 50%;
  animation: move-up-down 1.5s linear infinite both;
}
.timeline .timeline__container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 100px;
  right: -15px;
  background-color: #e4f9f5;
  border: 4px solid #fc5185;
  border-radius: 50%;
  z-index: 1;
  animation: pulsate-bck 1.5s ease-in-out infinite both;
}
.timeline .timeline__container .timeline__time {
  background-color: #11999e;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 0;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.timeline .timeline__container .timeline__content {
  padding: 15px 30px;
  background-color: #e4f9f5;
  color: #222831;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.timeline .timeline__container .timeline__content .timeline__gallery {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.timeline .timeline__container .timeline__content .timeline__logo {
  margin-bottom: 15px;
}
.timeline .timeline__container .timeline__content .timeline__logo img {
  width: 150px;
}
.timeline .timeline__container .timeline__content .timeline__title {
  margin-bottom: 5px;
}
.timeline .timeline__container .timeline__content .timeline__text {
  margin-bottom: 15px;
}
.timeline .timeline__container .timeline__content .timeline__btn button {
  margin-right: 10px;
}
.timeline .timeline__left {
  left: 0;
  padding-left: 0;
}
.timeline .timeline__left::before {
  content: "";
  position: absolute;
  top: 100px;
  right: 5px;
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: 13px;
  border-left-color: #e4f9f5;
}
.timeline .timeline__right {
  left: 50%;
  padding-right: 0;
}
.timeline .timeline__right::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 5px;
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: 13px;
  border-right-color: #e4f9f5;
}
.timeline .timeline__right::after {
  left: -10px;
}
.timeline .timeline__imagesRight {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 0;
}
.timeline .timeline__imagesRight::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 5px;
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: 13px;
  border-right-color: #e4f9f5;
}
.timeline .timeline__imagesRight::after {
  content: unset;
}
.timeline .timeline__imagesLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 0;
}
.timeline .timeline__imagesLeft::before {
  content: "";
  position: absolute;
  top: 100px;
  right: 5px;
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: 13px;
  border-left-color: #e4f9f5;
}
.timeline .timeline__imagesLeft::after {
  content: unset;
}
.timeline .timeline__flex {
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline .timeline__flex .timeline__gallery img {
  width: 97%;
}

.section__title {
  letter-spacing: 1.5px;
}
.section__title span {
  color: #eeeeee;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  padding-bottom: 3px;
}
.section__title span::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, rgb(48, 227, 202) 0%, #11999e 100%);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.show__social {
  display: flex;
  align-items: center;
}
.show__social .show__social__item {
  margin-right: 20px;
}
.show__social .show__social__item i {
  font-size: 1.25rem;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.5s;
}
.show__social .show__social__item i:hover {
  background: linear-gradient(to right, rgb(48, 227, 202) 0%, #11999e 100%);
  color: #fff;
  border-radius: 50%;
}
.show__social .show__social__item .social-fb {
  color: #0866ff;
}
.show__social .show__social__item .social-linked {
  color: #0075b4;
}
.show__social .show__social__item .social-github {
  color: #000;
}

.sliderLTT {
  display: flex;
  justify-content: center;
  background-color: #222831;
}
.sliderLTT .sliderLTT__container {
  border-top: 1px solid rgb(48, 227, 202);
  border-bottom: 1px solid rgb(48, 227, 202);
  display: flex;
  justify-content: center;
  width: 80.3%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #222831 10% 90%, transparent);
}
.sliderLTT .sliderLTT__container .sliderLTT__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.sliderLTT .sliderLTT__container .sliderLTT__list .sliderLTT__item {
  width: 11.1%;
  height: var(--height);
  display: flex;
  align-items: center;
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc(10s / var(--quantity) * (var(--position) - 1));
  transition: filter 0.3s;
}
.sliderLTT .sliderLTT__container .sliderLTT__list .sliderLTT__item .sliderLTT__detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sliderLTT .sliderLTT__container .sliderLTT__list .sliderLTT__item .sliderLTT__detail img {
  width: 20%;
  object-fit: cover;
  margin-right: 10px;
}
.sliderLTT .sliderLTT__container .sliderLTT__list .sliderLTT__item .sliderLTT__detail .sliderLTT__img {
  width: 27%;
}
.sliderLTT .sliderLTT__container .sliderLTT__list .sliderLTT__item .sliderLTT__detail span {
  font-weight: 500;
  transition: all 0.2s;
}
.sliderLTT .sliderLTT__container .sliderLTT__list .sliderLTT__item:hover {
  filter: grayscale(0);
}
.sliderLTT .sliderLTT__container .sliderLTT__list .sliderLTT__item:hover span {
  color: rgb(48, 227, 202);
}
.sliderLTT .sliderLTT__container:hover .sliderLTT__item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.lightMode header {
  background-color: #fff;
}
.lightMode header .ltt__navbar .logo-light img {
  display: inline-block;
}
.lightMode header .ltt__navbar .logo-dark img {
  display: none;
}
.lightMode header .ltt__navbar #navbarLTT .navbar-nav {
  background-color: rgba(118, 129, 125, 0.3);
}
.lightMode header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link {
  color: #222831;
  font-size: 0.875rem;
  font-weight: 500;
}
.lightMode header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link::after {
  background-color: #393e46;
}
.lightMode header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link:hover {
  color: rgb(48, 227, 202);
}
.lightMode header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link.active {
  background-color: #393e46;
  color: rgb(48, 227, 202);
}
.lightMode header .ltt__navbar .darkLightMode .btn-light {
  display: none;
}
.lightMode header .ltt__navbar .darkLightMode .btn-dark {
  display: inline-block;
}

.lightMode .cover {
  background-color: #fff;
  background-image: url(../images/cover-light.png);
  background-repeat: no-repeat;
  background-position: -190px 79px;
  background-size: 1000px;
}
.lightMode .cover .cover__content .cover__intro .cover__career {
  color: #24aa97;
  font-size: 1.25rem;
  font-weight: 500;
}
.lightMode .cover .cover__content .cover__intro .cover__name .cover__fullName {
  color: #222831;
  font-size: 3.125rem;
  font-weight: 700;
}
.lightMode .cover .cover__content .cover__intro .cover__info {
  color: rgb(125, 125, 125);
}
.lightMode .cover .cover__content .cover__imgLTT .cover__avatar .avatarLTTin {
  border: 5px solid #24aa97;
  background-color: rgb(48, 227, 202);
}
.lightMode .cover .cover__content .cover__imgLTT .cover__proIcons .cover__proIcons__item {
  background-color: #222831;
  border: 5px solid #24aa97;
}
.lightMode .cover .cover__content .cover__imgLTT .cover__proIcons .cover__proIcons__item:hover {
  background-color: rgb(54, 60, 69);
}

.lightMode .about .about__overlay {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.7) 50%);
}
.lightMode .about .about__overlay .about__info .about__text .about__intro {
  color: #222831;
}
.lightMode .about .about__overlay .about__info .about__contact {
  color: #222831;
}
.lightMode .about .about__overlay .about__info .about__contact .about__contact__item i {
  color: #24aa97;
}
.lightMode .about .about__overlay .about__info .about__contact .about__contact__item a {
  color: #222831;
  transition: all 0.3s;
}
.lightMode .about .about__overlay .about__info .about__contact .about__contact__item a:hover {
  color: #24aa97;
}

.lightMode .education {
  background-color: #fff;
}

.lightMode .projects {
  background-color: #fff;
}
.lightMode .projects .projects__carousel .projects__content {
  background-color: rgb(18, 85, 75);
}
.lightMode .projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__name {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 700;
}
.lightMode .projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__name .projects__detailInfo__name__number i {
  color: #24aa97;
}
.lightMode .projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__technology .projects__detailInfo__technology__item {
  background: linear-gradient(to right, #24aa97 0%, rgb(48, 227, 202) 100%);
  color: #222831;
}
.lightMode .projects .projects__carousel .projects__content .projects__detailInfo .projects__detailInfo__description {
  color: #fff;
}
.lightMode .projects .projects__carousel .carousel-indicators [data-bs-target] {
  background-color: #24aa97;
}
.lightMode .projects .projects__carousel .carousel-control-next i,
.lightMode .projects .projects__carousel .carousel-control-prev i {
  color: #24aa97;
}

.lightMode .contact {
  background-color: #fff;
}
.lightMode .contact .contact__content .contact__info {
  background-color: rgba(36, 170, 151, 0.5);
}
.lightMode .contact .contact__content .contact__info .contact__info__title {
  color: #222831;
}
.lightMode .contact .contact__content .contact__info .contact__info__detail .contact__info__item {
  color: #222831;
}
.lightMode .contact .contact__content .contact__info .contact__info__detail .contact__info__item i {
  color: #24aa97;
}
.lightMode .contact .contact__content .contact__info .contact__info__detail .contact__info__item a {
  color: #222831;
}
.lightMode .contact .contact__content .contact__info .contact__info__detail .contact__info__item a:hover {
  color: #24aa97;
}

.lightMode footer {
  background-color: rgba(228, 249, 245, 0.9);
}
.lightMode footer .footer__container .footer__logo .logo-light {
  display: inline-block;
}
.lightMode footer .footer__container .footer__logo .logo-dark {
  display: none;
}
.lightMode footer .footer__container .footer__ltt {
  color: #222831;
}
.lightMode footer .footer__container .footer__ltt a {
  background: linear-gradient(to right, #24aa97 0%, rgb(18, 85, 75) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lightMode footer .footer__container .footer__social .show__social .show__social__item i {
  color: #222831;
  background: linear-gradient(to right, #24aa97 0%, rgb(48, 227, 202) 100%);
}

.lightMode .back-to-top .btn-toTop {
  background-color: rgba(36, 170, 151, 0.5);
}
.lightMode .back-to-top .btn-toTop i {
  color: #222831;
}
.lightMode .back-to-top .btn-toTop:hover {
  background-color: #24aa97;
}

.lightMode .btn--green {
  color: #222831;
  background: linear-gradient(to right, #24aa97 0%, rgb(48, 227, 202) 100%);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  padding: 7px 20px;
  border: none;
  transition: all 0.5s;
}
.lightMode .btn--green::before {
  content: "";
  background-color: rgb(48, 227, 202);
}
.lightMode .btn--green span,
.lightMode .btn--green a {
  color: #222831;
}
.lightMode .btn--greenSmall {
  color: #222831;
  background: linear-gradient(to right, #24aa97 0%, rgb(48, 227, 202) 100%);
  border-radius: 20px;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 5px 15px;
  border: none;
  transition: all 0.5s;
}
.lightMode .btn--greenSmall::before {
  background-color: rgb(48, 227, 202);
}
.lightMode .btn--greenSmall span,
.lightMode .btn--greenSmall a {
  color: #222831;
}

.lightMode .show__social .show__social__item i {
  background-color: #222831;
}
.lightMode .show__social .show__social__item i:hover {
  background: linear-gradient(to right, #24aa97 0%, rgb(48, 227, 202) 100%);
  color: #fff;
  border-radius: 50%;
}
.lightMode .show__social .show__social__item .social-fb {
  color: #fff;
}
.lightMode .show__social .show__social__item .social-linked {
  color: #fff;
}
.lightMode .show__social .show__social__item .social-github {
  color: #fff;
}

.lightMode .section__title span {
  color: #222831;
  font-size: 1.5rem;
  font-weight: 500;
}
.lightMode .section__title span::after {
  background: linear-gradient(to right, #24aa97 0%, rgb(48, 227, 202) 100%);
}

.lightMode .progressBar {
  background-color: #24aa97;
}
.lightMode .progressBar .progressBar__run {
  background-color: rgb(18, 85, 75);
}
.lightMode .progressBar .progressBar__run .progressBar__counter {
  background-color: #222831;
  color: #fff;
}
.lightMode .progressBar .progressBar__run .progressBar__counter::after {
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: 3.5px;
  border-top-color: #222831;
}
.lightMode .progressBar .progressBar__text {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
}

.lightMode .timeline::after {
  background-color: rgb(18, 85, 75);
}
.lightMode .timeline .timeline__container::after {
  background-color: rgb(18, 85, 75);
  border: 4px solid #fc5185;
}
.lightMode .timeline .timeline__container .timeline__time {
  background-color: #24aa97;
  color: #222831;
  font-size: 1rem;
  font-weight: 700;
}
.lightMode .timeline .timeline__container .timeline__content {
  background-color: rgb(18, 85, 75);
  color: #fff;
}
.lightMode .timeline .timeline__left::before {
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: 13px;
  border-left-color: rgb(18, 85, 75);
}
.lightMode .timeline .timeline__right::before {
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: 13px;
  border-right-color: rgb(18, 85, 75);
}
.lightMode .timeline .timeline__imagesRight::before {
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: 13px;
  border-right-color: rgb(18, 85, 75);
}
.lightMode .timeline .timeline__imagesLeft::before {
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: 13px;
  border-left-color: rgb(18, 85, 75);
}

.lightMode .sliderLTT {
  background-color: #fff;
}
.lightMode .sliderLTT .sliderLTT__container {
  border-top: 1px solid #24aa97;
  border-bottom: 1px solid #24aa97;
  mask-image: linear-gradient(to right, transparent, #f5f5f5 10% 90%, transparent);
}
.lightMode .sliderLTT .sliderLTT__container .sliderLTT__list .sliderLTT__item .sliderLTT__detail span {
  font-weight: 500;
  color: #222831;
  transition: all 0.2s;
}
.lightMode .sliderLTT .sliderLTT__container .sliderLTT__list .sliderLTT__item:hover span {
  color: #24aa97;
}/*# sourceMappingURL=main.css.map */