* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #222831;
  color: #fff;
  font-size: 0.875rem;
}

.container-ltt {
  padding-left: 150px !important;
  padding-right: 150px !important;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #11999e, #30e3ca);
  border-radius: 50px;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 10px 0;
  background-color: #222831;
}
header .ltt__navbar .navbar-brand {
  margin-right: 0;
}
header .ltt__navbar .navbar-brand img {
  width: 57px;
  height: 57px;
  transition: all 0.5s;
}
header .ltt__navbar .navbar-brand img:hover {
  transform: scale(1.1);
}
header .ltt__navbar #navbarLTT {
  justify-content: center;
}
header .ltt__navbar #navbarLTT .navbar-nav {
  padding: 9px;
  background-color: rgba(228, 249, 245, 0.3);
  border-radius: 50px;
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item {
  margin-right: 15px;
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 7px 15px;
  transition: all 0.7s;
  position: relative;
  z-index: 10;
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: #393e46;
  border-radius: 41px;
  transition: all 0.5s;
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link:hover {
  color: #30e3ca;
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link:hover::after {
  height: 100%;
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link.active {
  background-color: #393e46;
  border-radius: 41px;
  color: #30e3ca;
}
header .ltt__navbar #navbarLTT .navbar-nav .nav-item .nav-link.active:hover::after {
  content: unset;
}

.cover {
  padding-top: 85px;
  height: 700px;
  background-image: url(../../images/cover.png);
  background-repeat: no-repeat;
  background-position: -190px 79px;
  background-size: 1000px;
}
.cover .cover__content {
  height: 100%;
}
.cover .cover__content .row {
  height: 100%;
}
.cover .cover__content .cover__intro {
  letter-spacing: 1.5px;
}
.cover .cover__content .cover__intro .cover__career {
  animation-delay: 1.5s;
  color: #30e3ca;
  font-size: 1.25rem;
  font-weight: 500;
}
.cover .cover__content .cover__intro .cover__name {
  animation-delay: 0.5s;
}
.cover .cover__content .cover__intro .cover__name .cover__fullName {
  color: #fff;
  font-size: 3.125rem;
  font-weight: 700;
  animation: text-shadow-drop-center 0.7s both;
  letter-spacing: 3px;
  margin: 5px 0;
}
.cover .cover__content .cover__intro .cover__info {
  color: #c7c7c7;
  margin-bottom: 30px;
  width: 370px;
  animation-delay: 0.5s;
}
.cover .cover__content .cover__intro .cover__btn {
  animation-delay: 1.5s;
}
.cover .cover__content .cover__intro .cover__btn button {
  animation: heartbeat 1.5s ease-in-out infinite both;
}
.cover .cover__content .cover__imgLTT {
  position: relative;
}
.cover .cover__content .cover__imgLTT .cover__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover .cover__content .cover__imgLTT .cover__avatar .avatarLTTin {
  width: 340px;
  height: 390px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #30e3ca;
  background-color: #11999e;
  filter: brightness(0.9);
  transition: all 0.5s;
}
.cover .cover__content .cover__imgLTT .cover__avatar .avatarLTTin:hover {
  filter: brightness(1);
  transform: scale(1.05);
}
.cover .cover__content .cover__imgLTT .cover__proIcons .cover__proIcons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  border: 5px solid #30e3ca;
  transition: all 0.5s;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .cover__proIcons__item:hover {
  background-color: #eeeeee;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .cover__proIcons__item img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  animation: pulsate-bck 1.5s ease-in-out infinite both;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .htmlIcon {
  position: absolute;
  top: 25px;
  left: 135px;
  animation-delay: 1.5s;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .cssIcon {
  position: absolute;
  top: 75px;
  right: 105px;
  animation-delay: 2s;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .frameworkIcon {
  justify-content: space-around;
  width: 140px;
  position: absolute;
  bottom: 50px;
  left: 75px;
  animation-delay: 2.5s;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .jsIcon {
  position: absolute;
  bottom: 15px;
  right: 150px;
  animation-delay: 3s;
}
.cover .cover__content .cover__imgLTT .cover__proIcons .jsIcon img {
  width: 40px;
  height: 40px;
}

.about {
  background-image: url(../../images/bg-a8.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 700px;
}
.about .about__overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(34, 40, 49, 0.7) 50%, rgba(34, 40, 49, 0.9) 50%);
  padding-top: 85px;
  padding-bottom: 85px;
}
.about .about__overlay .row {
  height: 100%;
}
.about .about__overlay .about__info {
  padding-top: 50px;
  padding-right: 50px;
}
.about .about__overlay .about__info .about__text .about__intro {
  margin: 35px 0 15px;
  text-align: justify;
}
.about .about__overlay .about__info .about__contact {
  margin-bottom: 10px;
}
.about .about__overlay .about__info .about__contact .about__contact__item {
  margin-bottom: 5px;
}
.about .about__overlay .about__info .about__contact .about__contact__item i {
  font-size: 1rem;
  margin-right: 5px;
  color: #30e3ca;
}
.about .about__overlay .about__info .about__contact .about__contact__item a {
  text-decoration: none;
  color: #e4f9f5;
}
.about .about__overlay .about__info .about__social {
  display: flex;
  align-items: center;
  margin: 15px 0 30px;
}
.about .about__overlay .about__info .about__social .about__social__item {
  margin-right: 15px;
}
.about .about__overlay .about__info .about__social .about__social__item i {
  font-size: 1.25rem;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s;
}
.about .about__overlay .about__info .about__social .about__social__item i:hover {
  background-color: #eeeeee;
}
.about .about__overlay .about__info .about__social .about__social__item .social-fb {
  color: #0866ff;
}
.about .about__overlay .about__info .about__social .about__social__item .social-linked {
  color: #0075b4;
}
.about .about__overlay .about__info .about__social .about__social__item .social-github {
  color: #000;
}
.about .about__overlay .about__info .about__btn button {
  animation: heartbeat 1.5s ease-in-out infinite both;
}
.about .about__overlay .about__skills {
  padding-top: 50px;
  padding-left: 50px;
}
.about .about__overlay .about__skills .about__proLang {
  margin-top: 35px;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item {
  margin-bottom: 23px;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item .about__imgProLang {
  margin-bottom: 13px;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item .about__imgProLang img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-right: 7px;
  animation: pulsate-bck 1.5s ease-in-out infinite both;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item .html-css.active .progressBar__run {
  width: 90%;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item .js-ts.active .progressBar__run {
  width: 75%;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item .bs-sass.active .progressBar__run {
  width: 85%;
}
.about .about__overlay .about__skills .about__proLang .about__proLang__item .react-angular.active .progressBar__run {
  width: 60%;
}

.education {
  padding-top: 85px;
  padding-bottom: 35px;
}
.education .education__title {
  padding-top: 50px;
}

.btn--green {
  color: #fff;
  background: linear-gradient(to right, #30e3ca 0%, #11999e 100%);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  padding: 7px 20px;
  border: none;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.btn--green::before {
  content: "";
  display: inline-block;
  width: 110%;
  height: 100%;
  background-color: #11999e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: skewX(30deg) translateX(-110%);
  transition: all 0.5s;
}
.btn--green:hover::before {
  transform: skewX(30deg) translateX(-10px);
}
.btn--green span,
.btn--green a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.btn--greenSmall {
  color: #fff;
  background: linear-gradient(to right, #30e3ca 0%, #11999e 100%);
  border-radius: 20px;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 5px 15px;
  border: none;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.btn--greenSmall::before {
  content: "";
  display: inline-block;
  width: 110%;
  height: 100%;
  background-color: #11999e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: skewX(30deg) translateX(-110%);
  transition: all 0.5s;
}
.btn--greenSmall:hover::before {
  transform: skewX(30deg) translateX(-10px);
}
.btn--greenSmall span,
.btn--greenSmall a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.progressBar {
  height: 30px;
  background-color: #11999e;
  position: relative;
}
.progressBar .progressBar__run {
  width: 1%;
  height: 100%;
  position: absolute;
  background-color: #e4f9f5;
  transition: width 0.7s ease;
}
.progressBar .progressBar__run .progressBar__counter {
  min-width: 25px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  top: -23px;
  right: -25px;
  text-align: center;
  font-size: 0.75rem;
  color: #222831;
  padding: 0 10px;
}
.progressBar .progressBar__run .progressBar__counter::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 13px;
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: 3.5px;
  border-top-color: #fff;
}
.progressBar .progressBar__text {
  position: absolute;
  color: #222831;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  padding-left: 10px;
  line-height: 30px;
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 transparent;
  }
  100% {
    text-shadow: 0 0 19px #30e3ca;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move-up-down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.timeline {
  margin-top: 30px;
  position: relative;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: #e4f9f5;
  top: 0;
  bottom: 15px;
  left: 50%;
  border-radius: 10px;
}
.timeline .timeline__container {
  padding: 35px 30px;
  position: relative;
  z-index: 1;
  width: 50%;
  animation: move-up-down 1.5s linear infinite both;
}
.timeline .timeline__container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 100px;
  right: -15px;
  background-color: #e4f9f5;
  border: 4px solid #fc5185;
  border-radius: 50%;
  z-index: 1;
  animation: pulsate-bck 1.5s ease-in-out infinite both;
}
.timeline .timeline__container .timeline__time {
  background-color: #11999e;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 0;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.timeline .timeline__container .timeline__content {
  padding: 15px 30px;
  background-color: #e4f9f5;
  color: #222831;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.timeline .timeline__container .timeline__content .timeline__logo {
  margin-bottom: 15px;
}
.timeline .timeline__container .timeline__content .timeline__logo img {
  width: 150px;
}
.timeline .timeline__container .timeline__content .timeline__title {
  margin-bottom: 5px;
}
.timeline .timeline__container .timeline__content .timeline__text {
  margin-bottom: 15px;
}
.timeline .timeline__container .timeline__content .timeline__btn button {
  margin-right: 10px;
}
.timeline .timeline__left {
  left: 0;
  padding-left: 0;
}
.timeline .timeline__left::before {
  content: "";
  position: absolute;
  top: 100px;
  right: 5px;
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: 13px;
  border-left-color: #e4f9f5;
}
.timeline .timeline__right {
  left: 50%;
  padding-right: 0;
}
.timeline .timeline__right::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 5px;
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: 13px;
  border-right-color: #e4f9f5;
}
.timeline .timeline__right::after {
  left: -10px;
}

.section__title {
  letter-spacing: 1.5px;
}
.section__title span {
  color: #eeeeee;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  padding-bottom: 3px;
}
.section__title span::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #30e3ca 0%, #11999e 100%);
  position: absolute;
  bottom: -5px;
  left: 0;
}/*# sourceMappingURL=main.css.map */