@mixin styleText($color, $fs, $fw) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
}

@mixin styleButton($color, $bg-color, $border-radius, $fs, $fw, $pd-y, $pd-x) {
  color: $color;
  background: $bg-color;
  border-radius: $border-radius;
  font-size: $fs;
  font-weight: $fw;
  padding: $pd-y $pd-x;
  border: none;
  transition: all 0.5s;
}

@mixin hoverButton($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
}

@mixin arrow($size, $direction, $color) {
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  border-width: $size;

  @if $direction == up {
    border-bottom-color: $color;
  } @else if $direction == down {
    border-top-color: $color;
  } @else if $direction == left {
    border-right-color: $color;
  } @else if $direction == right {
    border-left-color: $color;
  } @else {
    @error "Unknown direction: #{$direction}.";
  }
}

@mixin responsive($screen) {
  @if map-has-key($map: $breakpoints, $key: $screen) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "`{$screen}` is not supported";
  }
}
