.about {
  background-image: url(../../images/bg-a1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 700px;
  .about__overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, $color-black-4 50%, $color-black-5 50%);
    padding-top: $pd-6;
    padding-bottom: $pd-6;
    .row {
      height: 100%;
    }
    .about__info {
      padding-top: $pd-4;
      padding-right: $pd-4;
      .about__text {
        .about__intro {
          margin: $mg-3 + 5 0 $mg-2;
          text-align: justify;
        }
      }
      .about__contact {
        margin-bottom: $mg-4;
        .about__contact__item {
          margin-bottom: $mg-0;
          i {
            font-size: $fs-0;
            margin-right: $mg-0;
            color: $color-green-0;
          }
          a {
            text-decoration: none;
            color: $color-white-0;
            transition: all 0.3s;
            &:hover {
              color: $color-green-0;
            }
          }
        }
      }
      .about__btn {
        margin-top: $mg-3;
        button {
          animation: heartbeat 1.5s ease-in-out infinite both;
        }
      }
    }
    .about__skills {
      padding-top: $pd-4;
      padding-left: $pd-4;
      .about__proLang {
        margin-top: $mg-3 + 5;
        .about__proLang__item {
          margin-bottom: $mg-4 + 3;
          .about__imgProLang {
            margin-bottom: $mg-1 + 3;
            img {
              width: 35px;
              height: 35px;
              object-fit: contain;
              margin-right: $mg-0 + 2;
              animation: pulsate-bck 1.5s ease-in-out infinite both;
            }
          }
          .html-css.active {
            .progressBar__run {
              width: 90%;
            }
          }
          .js-ts.active {
            .progressBar__run {
              width: 75%;
            }
          }
          .bs-sass.active {
            .progressBar__run {
              width: 85%;
            }
          }
          .react-angular.active {
            .progressBar__run {
              width: 60%;
            }
          }
        }
      }
    }
  }
}
