.cover {
  padding-top: $pd-6;
  height: 700px;
  background-image: url(../../images/cover.png);
  background-repeat: no-repeat;
  background-position: -190px 79px;
  background-size: 1000px;
  .cover__content {
    height: 100%;
    .row {
      height: 100%;
    }
    .cover__intro {
      letter-spacing: $ls-1;
      .cover__career {
        animation-delay: 1.5s;
        @include styleText($color-green-0, $fs-2, $fw-3);
      }
      .cover__name {
        animation-delay: 0.5s;
        .cover__fullName {
          @include styleText($color-white-0, $fs-5, $fw-4);
          animation: text-shadow-drop-center 0.7s both;
          letter-spacing: $ls-2;
          margin: $mg-0 0;
        }
      }
      .cover__info {
        color: $color-white-3;
        margin-bottom: $mg-4;
        width: 370px;
        animation-delay: 0.5s;
      }
      .cover__social {
        animation-delay: 1.5s;
      }
      .cover__btn {
        animation-delay: 1.5s;
        margin-top: $mg-3;
        button {
          animation: heartbeat 1.5s ease-in-out infinite both;
        }
      }
    }
    .cover__imgLTT {
      position: relative;
      .cover__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        .avatarLTTin {
          width: 57%;
          object-fit: cover;
          border-radius: $border-radius-4;
          border: 5px solid $color-green-0;
          background-color: $color-green-1;
          filter: brightness(0.95);
          transition: all 0.5s;
          &:hover {
            filter: brightness(1);
            transform: scale(1.05);
          }
        }
      }
      .cover__proIcons {
        .cover__proIcons__item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15%;
          padding: $pd-1;
          background-color: $color-white-0;
          border-radius: $border-radius-2;
          border: 5px solid $color-green-0;
          transition: all 0.5s;
          &:hover {
            background-color: $color-white-2;
          }
          img {
            width: 70%;
            object-fit: contain;
            animation: pulsate-bck 1.5s ease-in-out infinite both;
          }
        }
        .htmlIcon {
          position: absolute;
          top: 10%;
          left: 20%;
          animation-delay: 1.5s;
        }
        .cssIcon {
          position: absolute;
          top: 20%;
          right: 15.7%;
          animation-delay: 2s;
        }
        .frameworkIcon {
          justify-content: space-around;
          width: 28.5%;
          position: absolute;
          bottom: 12%;
          left: 10%;
          animation-delay: 2.5s;
          img {
            width: 43%;
          }
        }
        .jsIcon {
          position: absolute;
          bottom: 7%;
          right: 23%;
          animation-delay: 3s;
          img {
            width: 90%;
          }
        }
      }
    }
  }
}
