header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: $pd-1 0;
  background-color: $color-black-1;
  .ltt__navbar {
    .navbar-brand {
      margin-right: 0;
      img {
        width: 57px;
        height: 57px;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    #navbarLTT {
      justify-content: center;
      .navbar-nav {
        padding: $pd-0 + 4;
        background-color: $color-black-3;
        border-radius: $border-radius-3;
        .nav-item {
          margin-right: $mg-2;
          .nav-link {
            @include styleText($color-white-0, $fs-1, $fw-3);
            text-transform: uppercase;
            letter-spacing: $ls-0;
            padding: $pd-0 + 2 $pd-2;
            transition: all 0.7s;
            position: relative;
            z-index: 10;
            &::after {
              content: "";
              display: inline-block;
              width: 100%;
              height: 0%;
              position: absolute;
              left: 0;
              bottom: 0;
              z-index: -1;
              background-color: $color-black-2;
              border-radius: $border-radius-5;
              transition: all 0.5s;
            }
            &:hover {
              color: $color-green-0;
              &::after {
                height: 100%;
              }
            }
            &.active {
              background-color: $color-black-2;
              border-radius: $border-radius-5;
              color: $color-green-0;
              &:hover {
                &::after {
                  content: unset;
                }
              }
            }
          }
        }
      }
    }
    .darkLightMode {
      .btn-mode {
        font-size: $fs-2;
        border-radius: $border-radius-4;
        padding: $pd-0 + 2 $pd-2 + 2;
        i {
          color: $color-black-1;
        }
        &:hover {
          &::before {
            transform: skewX(30deg) translateX(-2.5px);
          }
        }
      }
    }
  }
}
