.lightMode {
  .contact {
    background-color: $color-white-0;
    .contact__content {
      .contact__info {
        background-color: $color-light-8;
        .contact__info__title {
          color: $color-black-1;
        }
        .contact__info__detail {
          .contact__info__item {
            color: $color-black-1;
            i {
              color: $color-light-3;
            }
            a {
              color: $color-black-1;

              &:hover {
                color: $color-light-3;
              }
            }
          }
        }
      }
    }
  }
}
